Repository CaptinBata/DirectorySizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, safety, test, bandit

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: make flake8
        language: system
        types: [python]
    -   id: black
        name: black
        entry: make black
        language: system
        types: [python]
    -   id: safety
        name: safety
        entry: make safety
        language: system
        files: poetry.lock
    -   id: test
        name: test
        entry: make test
        language: system
        types: [python]
    -   id: bandit
        name: bandit
        entry: make bandit
        language: system
        types: [python]

Added in start of functionality
  directory_sizer/app.py
  directory_sizer/base_object.py
  directory_sizer/file.py
  directory_sizer/folder.py
Due: flake8, black, test, bandit

Added in black config
  pyproject.toml
Due: none

Added in size calculation
  directory_sizer/app.py
  directory_sizer/base_object.py
  directory_sizer/file.py
  directory_sizer/folder.py
Due: flake8, black, test, bandit

Changed args to allow multiple input
  directory_sizer/app.py
  directory_sizer/folder.py
  poetry.lock
Due: flake8, black, safety, test, bandit

Fix issue of not resolving base paths
  directory_sizer/app.py
Due: flake8, black, test, bandit
